<div class="dropdown">
    <div class="dropdown dropdown-menu-end">
        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown">
            Manage
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">Quản lý liên hệ</a>
            </li>
        </ul>
    </div>
</div>