@{
    ViewData["Title"] = "Xóa Db";
}

<h1>@ViewData["Title"]</h1>

<p class="alert alert-danger">Bạn có chắc chắn xóa không?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Xóa DB</button>
</form>