@using App.Menu

@inject AdminSidebarService adminSidebarService
@inject AppDbContext dbContext

@{
    ViewData["Title"] = "Xóa Db";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p class="alert alert-danger">Bạn có chắc chắn xóa không?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Xóa DB</button>
</form>


@{
    adminSidebarService.SetActive("Database", "DbManage", "Index");
}

@section Siderbar {
    @Html.Raw(adminSidebarService.CreateHtml());
}